<p-panel>
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center gap-5">
                <span><i class="pi pi-ban" style="font-size: 2.5rem;color:red"></i></span>
                <label style="font-size: 2.5rem;color:red">404: Page Not Found</label>
            </div>
            
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1 justify-content-center">
                <p-button routerLink="/" label="Go to Home"></p-button>
            </div>
        </ng-template>
    </p-card>
</p-panel>