<p-menubar [model]="items" class="fixed t-0 w-full" [style.z-index]="9999">
    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
            <span class="font-bold">
                {{ loggedInUserName }}
            </span>
            <p-menu #userMenu [model]="userOptions" [popup]="true" />
            <p-avatar 
                icon="pi pi-user" class="cursor-pointer"
                [style]="{ 'background-color': '#cbc4f0', color: '#2a1261' }" 
                shape="circle" (click)="userMenu.toggle($event)"/>
        </div>
    </ng-template>
</p-menubar>
<router-outlet></router-outlet>